<nav>
    <div class='header-left'>
        <a href='/' class='header-text'>Fair Work Chicago</a>
    </div>
    <div class='header-right'>
        <a href='http://localhost:3000/about' class='header-text'>About</a>
        <a href='http://localhost:3000/definitions' class='header-text'>Definitions</a>
    </div>
</nav>