<% layout('/layouts/boilerplate') %>
    <section>
        <h2>Does your employer regularly change your schedule on short notice or cut your hours?</h2>
        <p>Most Chicago workers are protected by the <a
                href="https://codelibrary.amlegal.com/codes/chicago/latest/chicago_il/0-0-0-2639907">Chicago Fair
                Workweek
                Ordinance</a>. This law is designed to protect require employers to have fair and equitable
            schduling
            practices so that employees can reasonably attend to their family, health, education, and other
            obligations.
        </p>
        <p>Fair Work Chicago is a tool created by Morgan Schumann, a licensed Illinois attorney (and computer
            programmer). Morgan understands that laws like the Chicago Fair Workweek Ordinance only
            help people when the people understand and can advocate for their rights under the law.
            That's why she created this <strong><u>free</u></strong> and <strong><u>confidential</u></strong> tool for
            you to
            use.
        </p>
    </section>
    <section>
        <h2>Fair Work Chicago can:</h2>
        <ul>
            <li>Teach you about your rights under the Ordnance.</li>
            <li>Determine if your employer likely violated your rights.</li>
            <li>Prepare a letter for you to send to get the pay and predictible schdule you deserve.</li>
        </ul>
        <p>Most Chicago workers are protected by the <a
                href="https://codelibrary.amlegal.com/codes/chicago/latest/chicago_il/0-0-0-2639907">Chicago Fair
                Workweek
                Ordinance</a>. This law is designed to protect require employers to have fair and equitable
            schduling
            practices so that employees can reasonably attend to their family, health, education, and other
            obligations.
        </p>
        <p>Fair Work Chicago is a tool created by Morgan Schumann, a licensed Illinois attorney (and computer
            programmer). Morgan understands that laws like the Chicago Fair Workweek Ordinance only
            help people when the people understand and can advocate for their rights under the law.
            That's why she created this <strong><u>free</u></strong> and <strong><u>confidential</u></strong> tool for
            you to
            use.
        </p>
    </section>
    <a href='/'>Go Back</a>