<% layout('/layouts/boilerplate') %>

    <h1>
        Page Not Found
    </h1>
    <p>
        <strong>Error Code:</strong>
        <%=err.status%><br><strong>Description:</strong>
            <%=err.message%>
    </p>
    <a href='/'>Go Back</a>